<!--HOME SECTION-->
    <div id="home-sec">


    <div class="container" id="home" >
        <div class="row text-center g-pad-bottom">
            <div class="col-md-12">

                <span class="head-main">JobXpress - Get To Work!</span>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4  col-sm-4">

          <h2><%= link_to 'Post-A-Job', new_job_path, class: 'btn btn-danger btn-lg text-center' %></h2>
          </div>

        <div class="col-md-4  col-sm-4">
          <h2><%= link_to 'Apply-For-A-Job', new_user_session_path, class: 'btn btn-primary btn-lg text-center' %></h2>
          </div>
  <div class="col-md-4  col-sm-4">
  <h2><%= link_to 'Upload-Your-CV', new_user_session_path, class: 'btn btn-success btn-lg text-center' %></h2>
</div>
</div>
</div>
</div>


    <!--END HOME SECTION-->

    <section  id="services-sec">
        <div class="container">

            <div class="row pad-top ">
                <div class="col-md-12">
                      <div class="col-md-8 col-sm-8">
		<div class="panel panel-primary">
                        <div class="panel-heading">
                          <h3>Current Job Posting</h3>
		</div>
		 </div>
		<div class="panel-body">
      <% @jobs.each do |job| %>

    <h3><%= link_to job.title, job_path(job), class: 'job-title' %></h3>

    <p><%= job.location %></p>
    <p><%= job.salary %></p>
    <hr/>
      <% end %>
  			</div>
		 <div class="panel-footer">
                        <div class="jobxpress">jobxpress</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
		<div class="panel panel-danger">
      <div class="panel-heading">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Front page - 2 (www.ckwe.co.uk) -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-9591689799095900"
  data-ad-slot="9745791119"
  data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <p></p>
	     </div>
        </div>
        <p></p>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Front page - 2 (www.ckwe.co.uk) -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-9591689799095900"
data-ad-slot="9745791119"
data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p></p>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Front page - 2 (www.ckwe.co.uk) -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-9591689799095900"
data-ad-slot="9745791119"
data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p></p>
  <ul class="social-network">
  <li><a href="https://twitter.com/revjatto"><img width="45" height="45" src="/img/twitter.png" alt="twitter"></a></li>
  <li><a href="https://facebook.com/revjatto"><img width="45" height="45" src="/img/facebook.jpg" alt="facebook"></a></li>
  <li><a href="https://youtube.com/revjatto"><img width="45" height="45" src="/img/YouTube.png" alt="Youtube"></a></li>
  </ul>
  </div>
  </div>

  </div>

</div>
