<!DOCTYPE html>
<html>
<head>
  <title>JobXpress- Get that dream your here!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


  <body>

    <!-- NAV SECTION -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <%= link_to "JobXpress", root_path, class: "logo" %>

                      <ul class="nav navbar-nav">
                        <li><%= link_to 'Jobs', root_path, class: 'glyphicon glyphicon-home' %></li>
                      <li><%= link_to "Register", new_user_registration_path, class: "glyphicon glyphicon-log-in" %> </li>

                      </ul>
                    </div>
                     <li class="glyphicon glyphicon-user">Hello:</li>
                        <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <% if current_user %>
                         <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                       <li role="separator" class="divider"></li>
                       <li><%= link_to "Edit Account", edit_user_registration_path, class: "glyphicon glyphicon-knight" %></li>
                        <li role="separator" class="divider"></li>
                          <li><%= link_to "Upload CV", '#', class: "glyphicon glyphicon-heart-empty" %></li>
                          <li role="separator" class="divider"></li>

                          <% else %>


                         <li role="separator" class="divider"></li>
                      <li><%= link_to "SignIn", new_user_session_path, class: "glyphicon glyphicon-user" %> </li>
                     <% end %>
                     <li role="separator" class="divider"></li>
                    <li><%= link_to "About", '#' %></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
        <br/>
         <!--END NAV SECTION -->
         <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>

    <script src="assets/custom.js"></script>

</body>
</html>
